<div class="p-2 bg-black text-white text-center font-bold text-2xl">
  <h1 class="text-center">Usuarios desde Laravel</h1>
</div>

<div class="container mx-auto my-10">

  <table class="table-auto w-full">
    <thead>
      <tr class="text-white bg-blue-600 border-2 border-blue-600">
        <th class="border-2 border-blue-900">Nombre de usuario</th>
        <th class="border-2 border-blue-900">Fecha de nacimiento</th>
        <th class="border-2 border-blue-900">Edad</th>
        <th class="border-2 border-blue-900">Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-2 border-gray-400">
        <td class="border-2 border-gray-400">The Sliding Mr. Bones</td>
        <td class="border-2 border-gray-400">1961</td>
        <td class="border-2 border-gray-400">25</td>
        <td class="border-2 border-gray-400">Malcolm Lockyer</td>
      </tr>
    </tbody>
  </table>

</div>
